:host {
  display: block;
  overflow-x: auto;
  padding: 0 1.5rem;
}

.table {
  &__container {
    position: relative;
    min-height: 200px;
    overflow: auto;
    margin: 0.5rem auto 1.5rem auto;
    width: 100%;
    max-width: 800px;
  }

  &__content {
    width: 800px;
  }

  &__loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    // bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.book {
  &__cover {
    height: 35px;
    border-radius: 5px;
    display: table-cell;
  }
}

.mat-column-cover {
  width: 50px;
}

.mat-column-author {
  width: 250px;
}

.mat-column-isbn {
  width: 150px;
}
