<header class="page__header">
  <mat-toolbar color="primary">
    <span>Books Catalog</span>
  </mat-toolbar>
</header>

<main class="page__content">
  <books-catalog-filter
    (onKeywordChanged)="filterChangeHandler($event)"
  ></books-catalog-filter>
  <books-catalog-listing
    [books]="books$ | async"
    [isLoading]="isLoading$ | async"
    (onSortingChange)="sortingChangeHandler($event)"
  ></books-catalog-listing>

  <books-catalog-paginator [pagination]="paginaton$ | async" (onPaginationChanged)="paginationChangeHandler($event)"></books-catalog-paginator>
</main>

<footer class="page__footer">Venelin Manchev &copy; 2023</footer>
