/frontend/node_modules
/backend/node_modules

/frontend/dist

# Visual Studio Code
/frontend/.vscode/*
!/frontend/.vscode/settings.json
!/frontend/.vscode/tasks.json
!/frontend/.vscode/launch.json
!/frontend/.vscode/extensions.json
/frontend/.history/*
/backend/.vscode/*
!/backend/.vscode/settings.json
!/backend/.vscode/tasks.json
!/backend/.vscode/launch.json
!/backend/.vscode/extensions.json
/backend/.history/*

# Miscellaneous
/frontend/.angular/cache
/frontend/.sass-cache/