<books-catalog-filter
  (onKeywordChanged)="filterChangeHandler($event)"
></books-catalog-filter>

<books-catalog-listing
  [books]="books$ | async"
  [isLoading]="isLoading$ | async"
  (onSortingChange)="sortingChangeHandler($event)"
  (onBookSelected)="bookSelectedHandler($event)"
></books-catalog-listing>

<books-catalog-paginator
  [pagination]="paginaton$ | async"
  (onPaginationChanged)="paginationChangeHandler($event)"
></books-catalog-paginator>

<button mat-fab color="primary" class="button__add" [routerLink]="['/add']">
  <mat-icon>add</mat-icon>
</button>
