<mat-progress-bar mode="indeterminate" *ngIf="isDescriptionLoading"></mat-progress-bar>
<mat-card class="book__card">
  <mat-card-header>
    <div class="book__header">
      <mat-card-title>{{ book.title }}</mat-card-title>
      <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
    </div>
    <mat-icon class="dialog__close" (click)="close()">close</mat-icon>
  </mat-card-header>
  <mat-card-content>
    <div class="book__media">
      <mat-spinner *ngIf="isImageLoading"></mat-spinner>
      <img
        [src]="book.cover"
        [alt]="book.title"
        class="book__cover mat-elevation-z8"
        (load)="isImageLoading = false"
      />
      <p class="book__isbn">{{ book.isbn }}</p>
    </div>

      <p *ngIf="description?.length; else noDesription">
        {{ description }}
      </p>
      <ng-template #noDesription>(no description found)</ng-template>

  </mat-card-content>
</mat-card>
